.home {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    background-color: rgb(252, 237, 218);
    margin-top: 10vh;
}

img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 13vh;
}

.home{
    margin-top: 0px;
}

.home h1 {
    font-size: 30px;
    color: #302e4d;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    margin: 20px 0 5px;
}

.home .social-links {
    margin-top: 25px;
}

.home .social-links a {
    width: 35px;
    height: 35px;
    background-color: rgb(44, 44, 233);
    display: inline-block;
    line-height: 35px;
    color: #ffff;
    margin: 0 4px;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.3s ease;
}

.home .social-links a :hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.navbar {
    background: fixed;
    background-color: rgb(255, 223, 182);
    color: lightcyan;
}

p {
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 0 20px;
    text-align: center;
    color: #302e4d;
}

@media (max-width:1991px) {
    p {
        font-size: 20px;
    }
}
